.our-plug-and {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: 38.4px;
  letter-spacing: 0.04em;
  line-height: 71.2px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: urbanist;
  z-index: 1;
}
.airframe-specific,
.composite-housing-structure {
  margin: 0;
}
.airframe-specific-composite-container {
  flex: 1;
  position: relative;
  line-height: 29px;
  text-transform: capitalize;
}
.div2 {
  width: 200px;
  height: 240px;
  box-shadow: var(--blue-blur);
  border-radius: var(--br-5xs);
  background: linear-gradient(
    114.03deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0)
  );
  border: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 50px var(--padding-3xl);
}
.airframe-attachment-and,
.quicklinks-and-carabiners {
  margin: 0;
}
.quicklinks-and-carabiners-container {
  flex: 1;
  position: relative;
  line-height: 29px;
  text-transform: capitalize;
}
.div3 {
  width: 220px;
  height: 240px;
  box-shadow: var(--blue-blur);
  border-radius: var(--br-5xs);
  background: linear-gradient(
    114.03deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0)
  );
  border: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 50px var(--padding-3xl);
}
.electro-mechanical-pyrotechni1,
.triggered-through-pwmelectric {
  margin: 0;
}
.electro-mechanical-pyrotechni {
  flex: 1;
  position: relative;
  line-height: 29px;
  text-transform: capitalize;
}
.div14 {
  flex: 1;
  box-shadow: var(--blue-blur);
  border-radius: var(--br-5xs);
  background: linear-gradient(
    114.03deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0)
  );
  border: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 50px var(--padding-3xl);
width: 280px;
 height: 240px;
}
.maintenance-manual,
.operations-and {
  margin: 0;
}
.operations-and-maintenance-container {
  flex: 1;
  position: relative;
  line-height: 29px;
  text-transform: capitalize;
}
.div5 {
  width: 220px;
  height: 240px;
  box-shadow: var(--blue-blur);
  border-radius: var(--br-5xs);
  background: linear-gradient(
    114.03deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0)
  );
  border: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 80px var(--padding-3xl);
}
.canopyairbag,
.customized-parachute {
  margin: 0;
}
.customized-parachute-canopyai {
  flex: 1;
  position: relative;
  line-height: 29px;
  text-transform: capitalize;
}
.div6 {
  width: 200px;
  height: 240px;
  box-shadow: var(--blue-blur);
  border-radius: var(--br-5xs);
  background: linear-gradient(
    114.03deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0)
  );
  border: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  padding:80px var(--padding-3xl);
}
.group,
.our-plug-and-play-systems-incl-parent {
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.group {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-11xl);
  z-index: 1;
  font-size: 19.2px;
  /* font-size: var(--font-size-5xl); */
  color: var(--white);
  font-family: var(--font-poppins);
}
.our-plug-and-play-systems-incl-parent {
  margin-top: 100px;
  width: 1520px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-32xl);
}
.frame-wrapper8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  /* padding: 0 var(--padding-xl); */
  box-sizing: border-box;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  height: 588px;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--cyan);
  font-family: var(--font-urbanist);
}
@media screen and (max-width: 925px) {
  .our-plug-and {
    font-size: 34px;
    line-height: 71px;
  }
  .our-plug-and-play-systems-incl-parent {
    gap: var(--gap-6xl);
  }
  .airframe-specific-composite-container,
  .customized-parachute-canopyai,
  .electro-mechanical-pyrotechni,
  .operations-and-maintenance-container,
  .quicklinks-and-carabiners-container {
font-size: 17px;
font-weight: 100;
font-family: poppins;
    line-height: 26.8px;
  }
 
}
@media screen and (max-width: 450px) {
  .our-plug-and {
    margin-top: 10%;
    font-size: 32px;
    line-height: 36px;
  }
  .airframe-specific-composite-container,
  .customized-parachute-canopyai,
  .electro-mechanical-pyrotechni,
  .operations-and-maintenance-container,
  .quicklinks-and-carabiners-container {
font-size: 16px;
font-weight: 200;
font-family: poppins;
    line-height: 20px;
  }
  .frame-wrapper8{
    /* width: 100%; */
    height: auto;
  }
  .group{
    display: flex;
    flex-direction: column;
  }
  .div14,.div2,.div3,.div5,.div6{
    width:250px;
    margin-left: auto;
    margin-right: auto;
   
  }
}
