.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  overflow: hidden; /* To ensure no scrollbars appear */
}

.loading-video {
  width: 100vw; /* Adjust size as needed */
  height: 100vh; /* Adjust size as needed */
  object-fit: contain; /* Ensures the video fits within the specified area */
}