.container ,.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
    width: 80%;
   color: white;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
 
  .ellipse {
    position: absolute;
    top: 150px;
    width:989.504px;
    height: 408px;
    border-radius: 50%;
    transition: transform 0.2s, display 0.2s;
  }

  .overlay-image {
    position: absolute;
    top:140px;
    width: 286.5px; 
    height: 414px;  
    border-radius: 40%; 
    transition: transform 0.2s;
    pointer-events: none; 
  }
  .overlay-imaged{
    position: absolute;
    top:220px;
    width: 489px; 
    height: 296px;
    border-radius: 40%; 
    transition: transform 0.2s;
    pointer-events: none; 
  }
  
  .zoom-image {
    transition: transform 0.2s ease, opacity 0.2s ease;
  }
  
  
  .ballistic-emergency-recovery-container13{
   
    position: absolute;
    top: 20px;
    font-size: 38.4px;
    line-height: 38.872px;
    font-weight: 700;
    font-family: var(--font-urbanist);
    color: var(--cyan);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    z-index: 4;
    flex: top; 
  }
  
  /* .pwm-based3 ,
  .manual-sensor3,
  .automated-ejection-mod3{
    margin-left: 200px; 
  }  */
  
  .pwm-based-manual-container3 {
    position: relative;
    text-transform: capitalize;
    text-align: center;
    font-size: 19.2px;
  line-height:.4;
  text-align: center;
    /* width: 353.6px; */
    font-weight: 100;
    font-family: poppins;
   
  }
  .above-ground3,
  .effective-height-3,
  .minimum3 {
    width: 342px;
    /* height: 33px; */
    /* margin-top: 0px;
    margin-bottom: 0px; */
    font-weight: 100;
    font-family: poppins;
  
  }
  .minimum-effective-height-container3 {
    flex: 1;
    position: relative;
    text-align: center;
    padding-top: 25px;
    
    font-size: 19.2px;
    
    line-height: .4;
    text-transform: capitalize;
  }
  .minimum-effective-height-20-wrapper3 {
    align-self: stretch;
    display: flex;
    margin-right: 50px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    /* padding: 0 var(--padding-7xl-8) 0 0; */
  }
  .descent3,
  .speed-53 {
    font-size: 19.2px;
    width: 200px;
    line-height: .4;
    font-weight: 100;
   font-family: poppins;
  }
  .descent-speed-container3 {
    position: relative;
    text-align: center;
    margin-top: 30px;
    text-transform: capitalize;
  }
  .descent-speed-5-ms-wrapper3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 var(--padding-xl) 0 var(--padding-11xl);
  }
  .pwm-based-manual-sensor-base-parent3 {
    width: 295px;
    height: 83px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    margin-bottom: 70px;
    margin-left:-26%;
  }
  .ballistic-ejection3,
  .pneumatic-micro-servo3 {
    margin: 0;
    /* color: ; */
    font-size: 19.2px;
    text-align: center;
    width: 353.6px; 
    line-height: .4;
    height: 26px;
    font-weight: 100;
   font-family: poppins;
    
  }
  .pneumatic-micro-servo-container3 {
    letter-spacing: 0%;
   
    margin-top: 100px;
    align-self: stretch;
    position: relative;
    line-height: .4;
    text-transform: capitalize;
  }
  .dust-protection3,
  .waterproof-and3 {
  
    width: 197px;
    font-size: 19.2px;
    line-height: .4;
    align-items: center;
    /* margin: 0px; */
    font-weight: 100;
   font-family: poppins;
    
  }
  .dust-protection3{
    margin-top: 20px;

  }
  .waterproof-and-dust-container3 {
    flex: 1;
    position: relative;
    /* width: 197px; */
    text-transform: capitalize;
    padding-left: 30%;
  }
  .waterproof-and-dust-protection-wrapper3 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    
  }
  .pneumatic-micro-servo-sprin-parent3{
  
    margin-bottom: 5px;
    flex: 1;
    
    height: 293.345px;
    /* width: 681.545px; */
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 300px;
    
  }
  
  .advanced-carbon31,
  .composite-structure31,.ejectionmode1{
    font-size: 19.2px;
    line-height: .4;
    align-items: starts;
    font-weight: 100;
    font-family: poppins;
    width: 250px;
    margin-top: 0;

  }


  .advanced-carbon3,
  .composite-structure3 {
    font-size: 19.2px;
    line-height: .4;
    align-items: starts;
    font-weight: 100;
    font-family: poppins;

  }
  .advanced-carbon-composite-container3 {
    position: relative;
    width: 199.2px;
    padding-top: 35px;
    margin: 0px;
    text-align: center;
    height: 50px;
    line-height: .4;
    text-transform: capitalize;
    
  }
  .operating-temperature3,
  .to-50-deg3 {
    font-size: 19.2px;
    line-height: .4;
   text-align: center;
   width: 315px;
   font-weight: 100;
   font-family: poppins;
  }
  .operating-temperature-container3 {
    flex: 1;
    position: relative;
    line-height: .4;
   text-align: center;
    padding: 30px;
    padding-bottom: 0px;
    text-transform: capitalize;
  }
  
  .operating-temperature-10-to-wrapper3 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top:30px;
    margin-right: 30px;
    /* padding: 0 0 0 var(--padding-base-1); */
  }
  .g-shock-on3,
  .mounting-points3 {
    font-size: 19.2px;
    line-height: .4;
   text-align: start;
   width: 290px;
   font-weight: 100;
   font-family: poppins;
  
  }
  .g-shock-on-container3 {
    position: relative;
    line-height: 3.3px;
    width: 160px;
    height: 50px;
    padding-right: 70px;
    text-transform: capitalize;
  }
  .g-shock-on-mounting-points-wrapper3 {
    display: flex;
    flex-direction: row;
    align-items:end;
    justify-content: start;
    padding: 0 var(--padding-7xs);
    margin-top: 30px;
  }
  .frame-wrapper7{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translateY(0);
    transition: transform 0.2s;
  }
  .frame-parent363 {
    height: 127px;
    /* width: 420px; */
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding: 0 0 var(--padding-8xl-6);
    box-sizing: border-box;
    gap: var(--gap-mini);
    z-index: 1;
  }
  
  .advanced-carbon-composite-stru-parent3{
    width: 440px;
    height: 160px;
    
    /* padding-right:1%; */
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
    
  }
  
  .frame-wrapper53 {
    height: 293.345px;
    width: 681.545px;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    margin-left: 30%;
    margin-top: 100px;
   
  }
  .arsentm-series-offers-container3 {
    align-self: center;
    font-size:19.2px;
  font-family: poppins;
    width: 1004px;
    height:39.2px;
    position: relative;
    text-transform: capitalize;
   
  }
  .arsentm3 {
    font-weight: 600;
  }
  .explore-arsentm-series-container13 {
    width: 100%;
    color: cyan;
   cursor: pointer;
  }
  .explore-arsentm-series-container3 {
    height: 12px;
    width: 217.6px;
    padding: 20px 0px 20px 20px;
    position: relative;
    letter-spacing: 0.4px;
    line-height: 11.52px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .vector-icon1{
    width: 13.76px;
    height: 9.2px;
    position: relative;
  }
  .vector-wrapper3 {
    display: flex;
    flex-direction: column;
    width: 13.76px;
    height: 9.2px;
    align-items: flex-end;
    justify-content: flex-start;
    
  }
  
  .explore-arsentm-series-parent3 {
    border-radius: var(--br-5xs);
    background: linear-gradient(
      114.03deg,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0)
    );
    width: 316.16px; 
    height: 44px;
    gap: 10px;
    align-items: center;
    font-size: 19.2px;
    letter-spacing: 0.4;
    border: 2px solid lightseagreen;
    overflow: hidden;
    display: flex;
   font-weight: 100;
  }
  .explore-arsentm-series-parent3:hover {
    background-color: var(--color-darkturquoise-200);
    border: 1.8px solid var(--color-darkturquoise-100);
    box-sizing: border-box;
  }
  .arsentm-series-offers-built-in-parent3 {
    display: flex;
    margin-top: -250px;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 100%;
    z-index: 4;
  }
  .frame-wrapper63 {
      display: flex;
      align-self: end;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
   
  }
  
  
  @media screen and (max-width: 925px) {
    .container,.container1{
      width: 100%;
    }
    .ballistic-emergency-recovery-container13{
      font-size: 32px;
      width: 70%;
      line-height: 36px;
      font-family: urbanist;
      text-align: center;
    }
    .ellipse{
      width: 80%;
    }
    .frame-parent363{
      width: 100%;
    }
    .minimum-effective-height-container3{
      width: 300px;
    }
    .operating-temperature-container3 {
padding-left: 0;
width: 100px;
}
    .frame-wrapper53{
      /* padding-left: 0; */
      margin-left: 100px;
    }
    .operating-temperature3, .to-50-deg3{
      width: 250px;
    }
    .arsentm-series-offers-built-in-parent3{
      width: 90%;
    }
    .advanced-carbon3, .composite-structure3 {
      width: 177px;
    }
    .ballistic-ejection3, .pneumatic-micro-servo3{
      width: 312px;
    }
    .arsentm-series-offers-container3{
      width: 90%;
      font-size: 17px;
    }
    .g-shock-on3, .mounting-points3{
      width: 200px;
    }
    .pwm-based3, .manual-sensor3, .automated-ejection-mod3,
    .above-ground3, .effective-height-3, .minimum3,
    .speed-53,.descent3,
    .pneumatic-micro-servo3, .ballistic-ejection3,
    .above-ground3.dust-protection3, .waterproof-and3 ,
    .operating-temperature3, .to-50-deg3,
    .composite-structure3, .advanced-carbon3,.ejection-mode,
    .mounting-points3, .g-shock-on3,
    .advanced-carbon31,
  .composite-structure31,.ejectionmode1
    {
      font-size: 17px;
    }
    .overlay-imaged{
      width: 50%;
    }
    .advanced-carbon31, .composite-structure31, .ejectionmode1{
      width: 235px;
    }
    .frame-wrapper7{
      bottom: 40px;
    }
   
    .container1{
      margin-top: 200px;
    }

  }
 

  @media screen and (max-width: 450px) {
    .container {
      margin-top: 100px;
      width: 100%;
     
      /* height: 90vh; */
    }
    .container1
{
  margin-top: 100px;
  /* height: 90vh; */
  width: 100%;
}    
    .ballistic-emergency-recovery-container13 {
      width: 90%;
      /* margin-left: 10%; */
      font-size: 32px;
      line-height: 36px;
    }
    
    .ellipse {
      margin-top: 30px;
      width: 90%;
    }
    .overlay-image {
      top: 255px;
      width: 202.5px; 
      height: 300px;
    }
    .overlay-imaged {
      top: 350px;
      width: 180.5px; 
      height: 150px;
    }
    .arsentmpara {
      width: 90%;
      font-size: 16px;
    }
    .arsentm-series-offers-container3 {
      margin: 0px;
      margin-bottom: -30px;
      font-size: 16px;
      width: 90%;
      height: 49px; 
    }
    .frame-parent363 {
      width: 0;
      position: relative;
      right: 50px;
      top: 50px;
      /* gap:50px; */
    }
    .frame-wrapper53 {
      
      height:0;
      width: 0;
    }
    .pwm-based-manual-sensor-base-parent3 {
      /* margin-bottom: 20%; */
      width: 0;
    }
    .pwm-based-manual-container3 {
      width: 0;
      padding-left: 0;
      /* top: 20px; */
    }
    .pwm-based3, .manual-sensor3, .automated-ejection-mod3 {
      font-size: 12px;
      width: 190px;
      line-height: 5px;
      position: relative;
      right: 65px;
      /* top: -22px; */
    }
    .ejectionmode{
      position: relative;
      font-size: 12px;
      line-height: 35px;
      width:250px;
      top: 27px;
      right: 125px;
    
    }
    
    .minimum-effective-height-20-wrapper3 {
      width:0;
    }
    .minimum-effective-height-container3 {
      width: 0;
    }
    .above-ground3, .effective-height-3, .minimum3 {
      font-size: 12px;
      width: 200px;
     line-height: 5px;
      position: relative;
      right: 80px;
      /* bottom: 60px; */
     
    }
    .descent-speed-container3 {
      width: 0;
    }
    .descent-speed-5-ms-wrapper3 {
      width: 0;
    }
    .speed-53, .descent3 {  
      font-size: 12px;
      width: 100px;
      position: relative;
      /* left: 180px; */
      /* bottom:60px; */
      
    }
    .pneumatic-micro-servo-container3 {
      width: 0;
    }
    .pneumatic-micro-servo-sprin-parent3 {
      width: 0;
      
    }
    .pneumatic-micro-servo3, .ballistic-ejection3 {
      font-size: 12px;
      width: 220px;
      line-height: 0;
      position: relative;
      height: 20px;
     
    }
    .waterproof-and-dust-protection-wrapper3 {
      width: 0;
    }
    .waterproof-and-dust-container3 {
      width: 0;
    }
    .dust-protection3, .waterproof-and3 {
      font-size: 12px;
      width: 120px;
      line-height: 0px;
      position: relative;
      left: 100px;
      top: -30px;
    }
    .advanced-carbon-composite-stru-parent3 {
      width: 0;
    }
    .advanced-carbon-composite-container3 {
      width: 0;
    }
    .composite-structure3, .advanced-carbon3,.ejection-mode {
      font-size: 12px;
      width: 150px;
     left: 150px;
      position: relative;
      /* right: 120px; */
      top: -30px;
      
    }

    .ejection-mode{
      font-size: 12px;
    }
    
    .advanced-carbon31,
    .composite-structure31,.ejectionmode1{
      font-size: 12px;
      width: 160px;
     left: 150px;
      position: relative;
      /* right: 120px; */
      top: -30px;
    }
    
    .operating-temperature-10-to-wrapper3 {
      width: 0;
    }
    .operating-temperature-container3 {
      width: 0;
    }
    .operating-temperature3, .to-50-deg3 {
      font-size: 12px;
      width: 155px;
      position: relative;
      left: 160px;
      bottom:50px;
    }
    .g-shock-on-mounting-points-wrapper3 {
      width: 0;
    }
    .g-shock-on-container3 {
      width: 0;
      padding: 0;
    }
    .mounting-points3, .g-shock-on3 {
      font-size: 12px;
      width: 110px;
      word-wrap: break-word;
     line-height: 10px;
      position: relative;
      left: 190px;
     bottom: 30px;
    }
    .mounting-points3{
      line-height: 15px;
    }
    .waterproof-and-dust-protection-wrapper3 {
      width: 0;
    }
    .waterproof-and-dust-container3 {
      width: 0;
    }
   
    .explore-arsentm-series-parent3{
     
      width: 270.2px;
      height: 55px;
      gap: 1px;  
      font-size: 16px;
      letter-spacing: 0.5;
      overflow: hidden;
     
    }
  .frame-wrapper7{
    bottom: 1px;
  }
    
  }
  
  
  
  
  